*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.logo-span {
  color: white;
  margin-left: 8px;
  font-weight: 900;
}

.nav {
  background: #648880;
  padding: 15px;
  margin-bottom: 60px;
}

.navlist {
  display: flex;
  justify-items: end;
  align-items: flex-end;
}

.navitem {
  margin-right: 2rem;
  justify-content: end;
}
.navitem:first-child {
  margin-right: auto;
}
.navitem a {
  text-decoration: none;
  color: white;
}

a.active-page {
  font-weight: 900;
}

.home-form {
  margin-bottom: 70px;
}

.form-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.form-li {
  margin-right: 2rem;
}

.btn {
  color: white;
  background: #648880;
  border: none;
  border-radius: 9px;
}

.form-btn {
  padding: 15px;
  width: 150px;
}

.input {
  width: 28rem;
  padding: 15px;
  border: 1px solid #648880;
  border-radius: 9px;
}

input:focus,
.input:focus {
  outline: none;
  border: 1px solid rgb(41, 72, 56);
}

li {
  list-style-type: none;
}

.job-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-card {
  border: 1px solid #648880;
  border-radius: 10px;
  width: 80vw;
  padding: 40px;
  margin-bottom: 9px;
}

.job-card-bottom {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.btn-more {
  width: 80px;
  padding: 10px;
}

.posts-container {
  display: flex;
  flex-direction: column;
}

.posts-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.posts-ul {
  display: flex;
  flex-direction: column;
  padding: 60px;
  border: 1px solid #648880;
  border-radius: 9px;
}

label {
  display: block;
}

.posts-input,
.updates-input {
  width: 25rem;
  padding: 10px;
  border-radius: 9px;
  margin-bottom: 15px;
  border: 1px solid #648880;
}

.posts-btn {
  margin-top: 5px;
  width: 25rem;
  align-self: flex-end;
}

@media (max-width: 1060px) {
  .input {
    max-width: 350px;
    margin-bottom: 8px;
  }
}

@media (max-width: 960px) {
  .input {
    max-width: 300px;
    margin-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .input {
    max-width: 400px;
    margin-bottom: 8px;
  }
  .form-ul {
    flex-direction: column;
  }
}
