*,
*:before,
*:after {
  box-sizing: border-box;
  
}

navbar {
  padding: 20px;
}
.navlist {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navitem {
  margin-right: 2rem;
  
}
.navitem:first-child {
  margin-right: auto;
}
.navitem a {
  text-decoration: none;
  color: black;
}

.home-form {
  margin-bottom: 70px;
}

.form-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-li {
  margin-right: 2rem;
}

.btn {
  color: white;
  background: #648880;
  border: none;
  border-radius: 9px;

}

.form-btn {
  padding: 15px;
  width: 150px;
}


.input {
  width: 450px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 9px;
}

li {
  list-style-type: none;
}

.job-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-card {
  border: 1px solid #648880;
  border-radius: 10px;
  width: 80vw;
  padding: 40px;
  margin-bottom: 9px;
}

.job-card-bottom {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.btn-more {
  width: 80px;
  padding: 10px;
  
}

/*
==============
Jobs Display
==============
*/

/* .jobs-display {
  
} */

.posts-container {
  display: flex;
  flex-direction: column;
}

.posts-form {
  display: flex;
  justify-items:center;
  align-items: center;
}

.posts-ul {
  display: flex;
  flex-direction: column;
  padding: 7px;
  margin-bottom: 20px
}

label {
  display: block;
  
}

.posts-input,
.updates-input {
  width: 180px;
  padding: 5px;
  border-radius: 9px;
}

.posts-btn {
  width: 150px;
  padding: 7px;
  margin-top: 5px;
}

@media(max-width: 768px) {
  
}